{{- $dirs := .dirs -}}
{{- $parent := .parent -}}
{{- $depth := .depth -}}
{{- $closed := site.Params.sidebar.closed | default slice -}}
{{- $children := slice -}}
{{- range $dirs -}}
	{{- if eq $parent "" -}}
		{{- if eq (len (split . "/")) 1 -}}
			{{- $children = $children | append . -}}
		{{- end -}}
	{{- else -}}
		{{- if and (hasPrefix . (printf "%s/" $parent)) (eq (len (split . "/")) (add $depth 1)) -}}
			{{- $children = $children | append . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- $key := printf "%s/" $parent -}}
{{- if eq $parent "" -}}{{- $key = "" -}}{{- end -}}
{{- $pages := where site.RegularPages "File.Dir" $key -}}
{{- if or $children $pages -}}
<ul>
	{{- range $children }}
	<li>
		<details{{ if not (in $closed .) }} open{{ end }}>
			<summary>{{ index (split . "/") (sub (len (split . "/")) 1) }}</summary>
			{{ partial "sidebar.html" (dict "dirs" $dirs "parent" . "depth" (len (split . "/"))) }}
		</details>
	</li>
	{{- end }}
	{{- range $pages }}
	<li><a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a></li>
	{{- end }}
</ul>
{{- end -}}