# .gitignore

## common
!.gitkeep

## hub
/clone.sh

## VSCode
/.vscode

## VuePress Extend
/x/md/.vuepress/public/src
/x/md/src
/x/md/.vuepress/public/version.txt

## Temporary files
/tmp/**
!/tmp/docs
/tmp/docs/**
!/tmp/docs/.gitkeep

## Vendor files
/vendor/**
!/vendor/.gitkeep

## Extra
mo

## VuePress
.temp
.cache

## Node
node_modules

## Mac
.DS_Store